*~
*.a
*.la
*.lis
*.lo
*.o
*_et.c
*_et.h
Makefile
.libs/

moira/afssync/afssync
moira/afssync/pt_util
moira/afssync/sync.c
moira/backup/bkup.c
moira/backup/bkup.h
moira/backup/bkup.pc
moira/backup/bkup1.c
moira/backup/bkup1.pc
moira/backup/dump_db.c
moira/backup/dumprest.c
moira/backup/mrbackup
moira/backup/mrrestore
moira/backup/rest.c
moira/backup/rest.h
moira/backup/rest.pc
moira/backup/rest1.c
moira/backup/rest1.pc
moira/backup/rest_db.c
moira/clients/blanche/blanche
moira/clients/chfn/chfn
moira/clients/chpobox/chpobox
moira/clients/chsh/chsh
moira/clients/eunice/eunice
moira/clients/mailmaint/mailmaint
moira/clients/mitch/mitch
moira/clients/moira/moira
moira/clients/moira/namespace
moira/clients/mrcheck/mrcheck
moira/clients/mrtest/mrtest
moira/clients/stanley/stanley
moira/clients/stella/stella
moira/config.log
moira/config.status
moira/db/moira_schema.c
moira/db/moira_schema.h
moira/dbck/dbck
moira/dbck/dbck.c
moira/dbck/fix.c
moira/dbck/members
moira/dbck/members.c
moira/dbck/phase1.c
moira/dbck/phase2.c
moira/dbck/phase3.c
moira/dbck/phase4.c
moira/dcm/dcm
moira/dcm/dcm.c
moira/dcm/startdcm
moira/gen/acl.c
moira/gen/acl.gen
moira/gen/confluence.c
moira/gen/confluence.gen
moira/gen/cups-print.c
moira/gen/cups-print.gen
moira/gen/dhcp.c
moira/gen/dhcp.gen
moira/gen/directory.c
moira/gen/directory.gen
moira/gen/events.c
moira/gen/events.gen
moira/gen/genacl.c
moira/gen/hesiod.c
moira/gen/hesiod.gen
moira/gen/hosts.c
moira/gen/hosts.gen
moira/gen/mailhub.c
moira/gen/mailhub.gen
moira/gen/ndb.c
moira/gen/ndb.gen
moira/gen/network.c
moira/gen/network.gen
moira/gen/pobox.c
moira/gen/pobox.gen
moira/gen/postoffice.c
moira/gen/postoffice.gen
moira/gen/print.c
moira/gen/print.gen
moira/gen/warehouse-lists.c
moira/gen/warehouse-lists.gen
moira/gen/winad.c
moira/gen/winad.gen
moira/gen/zephyr.c
moira/gen/zephyr.gen
moira/incremental/afs/afs.incr
moira/incremental/incr-runner/incr-runner
moira/incremental/incr-runner/incr-runner.c
moira/incremental/incr-runner/startincr
moira/incremental/kerberos/kerberos.incr
moira/lib/ureg_err.c
moira/lib/ureg_err.h
moira/reg_svr/genkey
moira/reg_svr/genwords
moira/reg_svr/genwords.c
moira/reg_svr/reg_svr
moira/reg_svr/reg_svr.c
moira/reg_svr/startreg
moira/regtape/common.c
moira/regtape/staff
moira/regtape/staff.c
moira/regtape/student
moira/regtape/student.c
moira/regtape/vote
moira/regtape/vote.c
moira/server/increment.c
moira/server/moirad
moira/server/qaccess.c
moira/server/qfollow.c
moira/server/qrtn.c
moira/server/qsetup.c
moira/server/qsupport.c
moira/server/qvalidate.c
moira/server/startmoira
moira/update/update_server
moira/update/update_test
