Source: debathena-moira
Section: debathena/net
Priority: extra
Maintainer: Debian-Athena Project <debathena@mit.edu>
Build-Depends: cdbs (>= 0.4.23-1.1), autotools-dev, debhelper (>= 4.2.0), quilt, patchutils (>= 0.2.25), cdbs (>= 0.4.27), comerr-dev, libkrb5-dev, libhesiod-dev, libzephyr-dev, libzephyr3-krb, libreadline-dev, libncurses-dev
Standards-Version: 3.7.2

Package: debathena-moira-clients
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Clients for the Moira database
 Moira is the Athena Service Management system.  It serves as the 
 central repository for information about users, groups hosts, print 
 queues, and several other aspects of the Athena environment.
 .
 This package contains clients such as moira, stella, blanche, etc.

Package: debathena-moira-update-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Athena update_server
 Moira is the Athena Service Management system.  It serves as the 
 central repository for information about users, groups hosts, print 
 queues, and several other aspects of the Athena environment.
 .
 This package contains the update_server daemon, which is used for
 servers that automatically receive information dumps from moira.

Package: debathena-libmoira-dev
Section: debathena/libdevel
Architecture: any
Provides: libmoira-dev
Depends: ${shlibs:Depends}, ${misc:Depends}, comerr-dev, libkrb5-dev, libhesiod-dev, libzephyr-dev, libzephyr3-krb
Description: Development files for Moira library
 Moira is the Athena Service Management system.  It serves as the 
 central repository for information about users, groups hosts, print 
 queues, and several other aspects of the Athena environment.
 .
 This package contains headers and static libraries for development.
