#!/usr/bin/make -f
%:
	dh -Dmoira $@

override_dh_auto_configure:
	dh_auto_configure -- \
	--without-krb4 --with-krb5 --with-hesiod --with-zephyr \
	--with-com_err=/usr --without-oracle --without-afs \
	--disable-rpath --with-openssl

override_dh_strip:
	dh_strip --package=debathena-libmoira0 --dbg-package=debathena-libmoira0-dbg
	dh_strip --package=debathena-libmrclient0 --dbg-package=debathena-libmrclient0-dbg
	dh_strip --remaining-packages

override_dh_install:
	mv debian/tmp/usr/bin/chfn debian/tmp/usr/bin/chfn.moira
	mv debian/tmp/usr/bin/chsh debian/tmp/usr/bin/chsh.moira
	mv debian/tmp/usr/share/man/man1/chsh.1 \
		debian/tmp/usr/share/man/man1/chsh.moira.1
	mv debian/tmp/usr/share/man/man1/chfn.1 \
		debian/tmp/usr/share/man/man1/chfn.moira.1
	dh_install

# Why does distclean not deal with these two makefiles?
override_dh_clean:
	dh_clean
	rm -f moira/util/rsaref/Makefile moira/incremental/kerberos/Makefile
