#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

DEB_CONFIGURE_EXTRA_FLAGS += --with-krb4=$(shell krb5-config --prefix krb4) --with-krb5 --with-hesiod --with-zephyr --with-com_err=/usr --without-oracle --without-afs
DEB_DH_INSTALL_SOURCEDIR = $(DEB_DESTDIR)

common-install-impl::
	mv $(DEB_DESTDIR)/usr/bin/chfn $(DEB_DESTDIR)/usr/bin/chfn.moira
	mv $(DEB_DESTDIR)/usr/bin/chsh $(DEB_DESTDIR)/usr/bin/chsh.moira
	mv $(DEB_DESTDIR)/usr/share/man/man1/chsh.1 \
		$(DEB_DESTDIR)/usr/share/man/man1/chsh.moira.1
	mv $(DEB_DESTDIR)/usr/share/man/man1/chfn.1 \
		$(DEB_DESTDIR)/usr/share/man/man1/chfn.moira.1
	dh_install -pdebathena-libmoira-dev include/moira.h lib/mr_et.h \
		lib/krb_et.h lib/ureg_err.h /usr/include/moira
	dh_install -pdebathena-libmoira-dev lib/libmoira.a /usr/lib

clean::
	rm -f util/rsaref/Makefile
